@font-face {
    font-family: 'pop';
    src: url(../font/Poppins.otf) format('otf'),
    url(../font/Poppins.ttf) format(truetype);
}

@font-face {
    font-family: 'bol';
    src: url(../font/bol.otf) format('otf'), url(../font/bol.ttf) format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}


.header1{
    /*position: fixed;*/
    top: 0;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #3A0CA3;
}

.header1 .title, .header1 .title1{
    width: 331px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 5%;
}

.header1 .title1{
    width: 214px;
    height: 16px;
    left: 5%;
}

.header1 .title1 i, .title2 i, .title3 i{
    margin-right: 5px;
    color: white;
}

.header1 .title1 a, .title2 a, .title3 a{
    font-family: pop;
    text-decoration: none;
    color: white;
    font-size: 13.3px;
    font-weight: 400;
}

.title2{
    margin-right: 20px;
}

.header2{
    /*position: fixed;*/
    top: 40px;
    width: 100%;
    height: 80px;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header2 .list{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 5%;
    width: 429px;
    height: 37px;
}

.header2 .list ul{
    display: flex;
    width: 429px;
    height: 37px;
}

.header2 .list ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    height: 37px;
    padding: 13px 16px;
}

.header2 .list ul li a{
    text-decoration: none;
    font-family: bol;
    font-size: 16px;
    font-weight: 500;
    
    
}

.header2 .list .rang{
    background-color: rgba(67, 97, 238, 0.3);
    border-radius: 30px;
}

.header2 .mark{
    display: flex;
    width: 124px;
    height: 50px;
}

.header2 .mark .mark2{
    width: 50px;
    height: 50px;
    background-color: rgba(58, 12, 163, 1);
    border-radius: 50%;
    padding: 12px;
    color: white;
    font-size: 23px;
}

.header2 .mark span{
    height: 20px;
    text-align: center;
    font-family: bol;
    font-size: 20px;
    font-weight: 600;
    color: black;
    margin: 10px 0 0px 9px;
}

.header2 .title4{
    width: 333px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    right: 5%;
}

.header2 .title4 a{
    text-decoration: none;
    font-family: pop;
    
}

.header2 .title4 .add{
    background-color: rgba(58, 12, 163, 1);
    border-radius: 50px;
    padding: 13px 26px;
    color: white;
}

.header2 .title4 .add a{
    color: white;
}

.header2 .log{
    margin-right: 20px;
}

.header2 .title4 .add i, .log i{
    margin-right: 5px;
}

.circle .header2 .title4 .log a{
    color: black;
    margin-right: 20px;
}

.header2 .bar{
    width: 12px;
    display: none;
    position: absolute;
}

.circle{
    width: 100%;
    border-bottom-left-radius: 800px;
    border-bottom-right-radius: 800px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background: linear-gradient(rgba(76, 201, 240, 0), rgba(67, 97, 238, 0.3));
    /*margin-top: 121px;*/
}

.circle .box{
    display: flex;
    flex-direction: column;
}

.circle .box1{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 95%;
    margin-top: 50px;
}

.circle .box1 .content1{
    width: 43.667%;
    display: flex;
    flex-direction: column;
    
    font-family: bol;
    
}

.circle .box .box1 .content1 .matn{
    width: 107.35%;
    margin-bottom: 30px;
}

.circle .box .box1 .content1 .matn span{
    font-size: 19.4px;
    color: rgba(67, 97, 238, 1);
}

.circle .box .box1 .content1 .matn h1{
    font-size: 57.3px;
}

.circle .box .box1 .content1 .matn p{
    font-size: 16px;
    color: rgba(109, 106, 117, 1);
    font-family: pop;
}

.circle .box .box1 .content1 img{
    width: 105.247%;
    height: 340px;
    align-items: start;
    border-radius: 20px;
    box-shadow: 10px 10px 40px 0 rgba(0, 0, 0, 0.2) ;
    overflow: hidden;

}

.circle .box .box1 .content2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    width:35.747%;
    height: 582px;
    margin: 45px 0 0 17%;
    border-radius: 30px;
    box-shadow: 10px 30px 50px 0 rgba(0, 0, 0, 0.05);
    font-family: bol;
}

.circle .box .box1 .content2 .title5{
    display: flex;
    height: 80px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;

}


.circle .box .box1 .content2 .title5 .sale{
    margin-right: 35%;
    color: rgba(58, 12, 163, 1);
}   

.circle .content2 hr{
    width: 100%;
    margin-bottom: 50px;
}

.circle .box .box1 .content2 form{
    display: flex;
    flex-direction: column;
    width: 80.955%;
}

.circle .box .box1 .content2 form input{
    margin-bottom: 30px;
    height: 59px;
    border-radius: 20px;
    border: 0;
    background-color: rgba(212, 212, 212, 0.2);
    color: rgba(109, 106, 117, 0.5);
    padding: 0 23px;
}

.circle .box .box1 .content2 .advance {
    color: rgba(58, 12, 163, 1);
    font-family: bol;
    font-size: 13.3px;
    width: 100%;
    padding-left: 65px;
}

.circle .box .box1 .content2 .search{
    background-color: rgba(58, 12, 163, 1);
    padding: 14px 32.16%;
    border-radius: 50px;
    margin-top: 55px;
    color: white;
    
}

.circle .box .content3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-family: pop;
    font-size: 19.4px;
}

.circle .box .content3 img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.circle .content3 .one, .content3 .two{
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 10px 30px 50px 0 rgba(0, 0, 0, 0.05);
    border-radius: 50px;
    padding: 20px;
    margin: 0 15px;
}

.circle .content3 .two span, .content3 .one span{
    margin-left: 12px;
}

.comp2{
    width: 100%;
}

.comp2 .box3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 175px;
    
}

.comp2 .box3 .content4{
    display: flex;
    flex-direction: column;
    align-items: start;
    font-family: bol;
    width: 34.723%;
}

.comp2 .box3 .content4 span{
    color: rgba(67, 97, 238, 1);
    font-size: 19.4px;
    
}

.comp2 .box3 .content4 .matn2 h2{
    font-size: 39.9px;
}

.comp2 .box3 .content4 .matn2 p, .dones p{
    font-size: 16px;
    font-family: pop;
    color: rgba(128, 128, 128, 1);
}

.comp2 .box3 .content4 .dones{
    display: flex;
    flex-direction: column;
    width: 80.001%;
    
}

.comp2 .box3 .content4 .dones .dones1, .dones2{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 4px 10px 30px 0 rgba(0, 0, 0, 0.15);
    margin-top: 30px;
    padding: 20px 30px 15px;
    width: 100%;
    height: 131px;
}

.comp2 .box3 .content4 .dones h4, .comp2 .box3 .content4 .dones i{
    color: rgba(67, 97, 238, 1);
    font-size: 19.4px;
}

.comp2 .box3 .content4 .dones i{
    width: 40px;
    height: 40px;
    font-size: 40px;
    margin-right: 25px;
}

.comp2 .box3 .content5 {
    display: flex;
    margin-left: 3%;
    margin-bottom: -76px;
    width: 40.14%;
}

.comp2 .box3 .content5 img{
    width: 280px;
    height: 500px;
    border-radius: 30px;
    box-shadow: 4px 10px 30px 0 rgba(0, 0, 0, 0.15);
}



.comp2 .box3 .content5 .ax{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 67.29%;
}

.comp2 .box3 .content5 .ax0{
    margin-top: 49px;
    width: 68.264%;
    
}

.comp2 .box3 .content5 .ax0 img{
    width: 100%;
}

.comp2 .box3 .content5 .ax .ax1{
    width: 100%;
}

.comp2 .box3 .content5 .ax .ax1 img{
    width: 100%;
    height: 280px;
}

.comp2 .box3 .content5 .ax .ax2{
    margin-top: 20px;
}

.comp2 .box3 .content5 .ax .ax2 img{
    width: 100%;
    height: 180px;
}

.content5 p{
    position: absolute;
}

.comp3{
    width: 100%;
}

.comp3 .box4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

.comp3 .box4 .content6{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98%;
}

.comp3 .box4 .content6 .matn3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 34.482%;
}

.comp3 .content6 .matn3 span{
    color: rgba(67, 97, 238, 1);
    font-size: 19.4px;
    font-family: bol;
}

.comp3 .content6 .matn3 h2{
    font-size: 39.8px;
    font-family: bol;
}

.comp3 .content6 .matn3 p{
    font-size: 16px;
    color: rgba(128, 128, 128, 1);
    font-family: pop;
}

.comp3 .box4 .content6 .links, .content7{
    display: flex;
    align-items: center;
    justify-content: center;
}

.comp3 .box4 .content6 .links{
    width: 34.395%;
    margin-left: 13%;
}

.comp3 .box4 .content6 .links a{
    font-family: bol;
    text-decoration: none;
    color: rgba(58, 12, 163, 1);
    border-radius: 30px;
    border: 1px solid rgba(58, 12, 163, 1);
    padding: 19px 30px;
    margin: 0 10px;
}

.comp3 .box4 .content6 .links .rangi {
    background-color: rgba(58, 12, 163, 1);
    color: white;
}

.comp3 .box4 .content7{
    margin-top: 140px;
    width: 100%;
}

.comp3 .box4 .content7 .ax3, .ax4, .ax5{
    width: 23.611%;
    
}

.comp3 .box4 .content7 .ax4{
    margin: 0 50px ;
}

.comp3 .box4 .content7 img{
    border-radius: 30px;
    width: 100%;
    height: 340px;
    margin-bottom: 10px;
}

.comp3 .box4 .content7 .more {
    border-radius: 50px;
    border: 1px solid rgba(58, 12, 163, 1);
    color: rgba(58, 12, 163, 1);
    padding: 20px 23px;
    display: none;
    font-size: 16px;
    font-weight: 500;
    font-family: bol;
    width: 59.2%;
    margin-top: 30px;
    justify-content: center;
    text-align: center;
}

.comp3 .box4 .content7 .more a{
    text-decoration: none;
}

.comp3 .box4 .content7 .matn4, .matn5, .matn6{
    width: 130%;
}

.cc {
    margin-top: 8px;
    display: none;
}

.cc p{
    margin: 0 10px;
}

.comp3 .box4 .content7 h3{
    font-family: bol;
    font-size: 27.6px;
}

.comp3 .box4 .content7 h4{
    font-family: bol;
    font-size: 19.4px;
}

.comp3 .box4 .content7 p{
    font-family: pop;
    font-size: 16px;
    color: rgba(128, 128, 128, 1);
}

.comp4{
    width: 100%;
}

.comp4 .box5{
    background-color: rgba(212, 212, 212, 0.3);
    margin-top: 110px;
    padding-bottom: 160px;
}

.comp4 .box5, .matn7, .d{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.comp4 .box5 .matn7{
    margin-top: 90px;
}

.comp4 .box5 .matn7 span{
    font-size: 19.4px;
    font-family: bol;
    color: rgba(43, 43, 43, 1);
}

.comp4 .box5 .matn7 h2{
    font-family: bol;
    font-size: 39.8px;
}

.comp4 .box5 .content8{
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 60px;
    width: 100%;
}

.comp4 .box5 .content8 .d{
    width: 340px;
    height: 363px;
    border-radius: 30px;
    box-shadow: 4px 10px 30px 0 rgba(0, 0, 0, 0.03);
    background-color: white;
    margin: 0 25px;
    padding: 0 61px;
}

.comp4 .box5 .content8 .d .d1 {
    width: 90px;
    height: 90px;
    background-color: rgba(67, 97, 238, 1);
    box-shadow: 4px 10px 30px 0 rgba(67, 97, 238, 0.4);
    border-radius: 50%;
    margin-bottom: 25px;
    padding: 20px;
}

.comp4 .box5 .content8 .d .d1 i{
    font-size: 40px;
    color: white;
}

.comp4 .box5 .content8 .d h4{
    font-size: 19.4px;
    font-family: bol;
}

.comp4 .box5 .content8 .d p{
    font-size: 16px;
    font-family: pop;
    color: rgba(128, 128, 128, 1);
}

.comp5{
    width: 100%;
}

.comp5 .box6{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 165px;
    width: 100%;

}

.comp5 .box6 .matn8{
    width: 78%;
    margin-bottom: 30px;
}

.comp5 .box6 .matn8 span{
    font-family: bol;
    font-size: 19.4;
    color: rgba(67, 97, 238, 1);
}

.comp5 .box6 .matn8 h2{
    font-size: 39.8px;
    font-family: bol;
}

.comp5 .box6 .content9, .comp5 .box6 .content10{
    width: 100%;
}

.comp5 .box6 .content9, .comp5 .box6 .content10, .ax6, .ax7{
    display: flex;
    align-items: center;
    justify-content: center;
}

.comp5 .box6 .content9 .ax7 .first-hide{
    display: none;
}

.box6 img{
    border-radius: 30px;
    margin: 25px;
}

.comp5 .box6 .content9 .ax6{
    width: 48.611%;
}

.comp5 .box6 .content9 .ax6 img{
    width: 43%;
    height: 320px;
}

.comp5 .box6 .content9 .ax7{
    width: 31.418%;
}

.comp5 .box6 .content9 .ax7 img{
    width: 89.36%;
    height: 320px;
}

.first-hide, .second-hide{
    width: 27.541%;
    height: 320px;
}

.big{
    width: 46%;
    height: 320px;
}

.comp6{
    width: 100%;
}

.comp6 .box7, .comp6 .box7 .content11, .member{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.comp6 .box7{
    padding-bottom: 150px;
}

.comp6 .box7 .content11{
    margin-top: 125px;
    margin-bottom: 45px;
}

.comp6 .box7 .content11 span{
    font-size: 19.4px;
    font-family: pop;
    color: rgba(67, 97, 238, 1);
}

.comp6 .box7 .content11 h2{
    font-family: bol;
    font-size: 39.8px;
}


.comp6 .box7 .content12,.team1, .team2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.member{
    margin: 0 40px;
}

.ceo{
    margin-bottom: 58px;
}

.member img{
    border-radius: 40px;
    border-top-left-radius: 120px;
    width: 200px;
    height: 280px;
}

.member h3{
    font-size: 27.6px;
    font-family: bol;
    margin: 15px 0;
}

.member h5{
    font-size: 16px;
    font-family: pop;
    color: rgba(67, 97, 238, 1);
}

.comp7{
    width: 100%;
}

.comp7 .box8{
    background-color: rgba(58, 12, 163, 1);
    padding-bottom: 175px;
}

.comp7 .box8, .comp7 .box8 .content13, .comp7 .box8 .content14 .ax8 .date{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.more2{
    border-radius: 50px;
    background-color: white;
    color: rgba(58, 12, 163, 1);
    padding: 20px 23px;
    display: none;
    font-size: 16px;
    font-weight: 500;
    font-family: bol;
    width: 59.2%;
    margin-top: 30px;
    justify-content: center;
    text-align: center;
}

.more2 a{
    text-decoration: none;
}

.comp7 .box8 .content13{
    margin-top: 110px;
}

.comp7 .box8 .content13 span{
    font-size: 19.4px;
    font-family: pop;
    letter-spacing: 3px;
}

.comp7 .box8 .content13 h2{
    font-size: 39.8px;
    font-family: bol;
}

.comp7 .box8 .content14{
    display: flex;
    align-items: center;
    justify-content: center;
}

.comp7 .box8 .content14 .ax8{
    margin: 50px 25px 0;
    position: relative;
    width: 23.611%;
}

.comp7 .box8 .content14 .ax8 .date{
    font-family: pop;
    position: absolute;
    left: 35px;
    width: 44px;
    height: 45px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    box-shadow: 4px 4px 15px 0 rgba(0, 0, 0, 0.25);
}

.comp7 .box8 .content14 .ax8 .date h4{
    color: rgba(43, 43, 43, 1);
}

.comp7 .box8 .content14 .ax8 .date p{
    color: rgba(128, 128, 128, 1);
}

.comp7 .box8 .content14 .ax8 img{
    width: 100%;
    height: 220px;
    border-radius: 30px;
    box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.comp7 .box8 .content14 .ax8 h3{
    font-size: 27.6px;
    font-family: pop;
}

.comp7 .box8 .content14 .ax8 p{
    font-size: 16px;
    font-family: pop;
    color: rgba(212, 212, 212, 1);
}

.comp8{
    width: 100%;
}

.comp8 .box9{
    padding-bottom: 175px;
}

.comp8 .box9, .comp8 .box9 .content15 .matn9{
    display: flex;
    flex-direction: column;
}

.comp8 .box9 .content15{
    margin-top: 175px;
    width: 100%;
}

.comp8 .box9, .comp8 .box9 .content15 .matn10{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.comp8 .box9 .content15, .comp8 .box9 .content16{
    display: flex;
    align-items: center;
    justify-content: center;
}

.comp8 .box9 .content15 .matn9 .arrows{
    display: flex;
    color: rgba(67, 97, 238, 1);
    font-size: 23px;
    margin-top: 60px;
}

.comp8 .box9 .content15 .matn9 .arrows .left, .right{
    width: 50px;
    height: 50px;
    border: 1px solid rgba(67, 97, 238, 1);
    border-radius: 50%;
    text-align: center;
    padding: 12px;
}


.comp8 .box9 .content15 .matn9 .arrows .right{
    margin-left: 50px;
}

.comp8 .box9 .content15 .matn9{
    width: 28.82%;
}

.comp8 .box9 .content15 .matn9 span{
    font-size: 19.4px;
    font-family: pop;
    color: rgba(67, 97, 238, 1);
}

.comp8 .box9 .content15 .matn9 h2{
    font-size: 39.8px;
    font-family: bol;
}

.comp8 .box9 .content15 .matn9 p{
    font-size: 16px;
    color: rgba(43, 43, 43, 1);
    font-family: pop;
}

.comp8 .box9 .content15 .matn10{
    width: 34.73%;
    height: 358px;
    border-radius: 30px;
    box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.1);
    padding: 30px 58px 0;
    margin-left: 12%;
    margin-top: 70px;
}

.comp8 .box9 .content15 .matn10 .barbara{
    display: flex;
    align-items: center;
    border-top: 1px solid gray;
    width: 100%;
    padding-top: 20px;
    margin-top: 30px;
}

.comp8 .box9 .content15 .matn10 img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.comp8 .box9 .content15 .matn10 h4{
    font-size: 19.4px;
    font-family: pop;
    color: rgba(43, 43, 43, 1);
}


.comp8 .box9 .content16{
    width: 83.334%;width: 83.334%;
    height: 260px;
    background-color: rgba(58, 12, 163, 1);
    border-radius: 40px;
    position: relative;
    margin-top: 155px;
}

.comp8 .box9 .content16 img{
    width: 37.5%;
    height: 465px;
    position: absolute;
    bottom: 0;
    left: -141px;
}

.comp8 .box9 .content16 .matn11{
    color: white;
    display: flex;
    align-items: center;
}

.comp8 .box9 .content16 .matn11 .become{
    width: 345px;
}

.comp8 .box9 .content16 .matn11 .become h2{
    font-size: 39.8px;
    font-family: bol;
    margin-bottom: 5px;
}

.comp8 .box9 .content16 .matn11 .become p{
    font-size: 16px;
    font-family: pop;
}

.comp8 .box9 .content16 .matn11 .register{
    padding: 9px 36px;
    width: 165px;
    height: 39px;
    color: rgba(58, 12, 163, 1);
    background-color: white;
    border-radius: 30px;
    margin-left: 120px;
}

.comp8 .box9 .content16 .matn11 .register a{
    text-decoration: none;
    font-size: 14px;
    font-family: bol;
}

.comp9 {
    width: 100%;
}

.comp9 .box10{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 420px;
    background-color: rgba(67, 97, 238, 0.1);
}

.comp9 .box10 .foot, .foot1, .foot2, .foot3{
    display: flex;
    flex-direction: column;
    margin: 0 50px;
    height: 266px;
    width: 197px;
}

.foot2{
    margin: 0 10px;
}

.foot3{
    margin: 0;
    width: 350px;
}

.follow{
    margin-top: 25px;
}

.follow i{
    font-size: 25px;
    margin: 0 8px;
    color: rgba(58, 12, 163, 1);
}

.comp9 .box10 .foot .mark3{
    display: flex;
    align-items: center;
}

.comp9 .box10 .foot  h5{
    margin: 20px 0;
}

.comp9 .box10 .foot .mark3 .rezi{
    width: 50px;
    height: 50px;
    background-color: rgba(58, 12, 163, 1);
    color: white;
    border-radius: 50%;
    font-size: 22px;
    padding: 12px;
}

.comp9 .box10  h4{
    font-size: 19.4px;
    font-family: pop;
    margin-bottom: 30px;
}

.comp9 .box10 .foot p{
    font-size: 20px;
    font-family: bol;
    margin-left: 10px;
}

.comp9 .box10 a{
    margin: 3px 0;
}

.comp9 .box10 a, .comp9 .box10 .foot h5 {
    font-size: 16px;
    font-family: pop;
    text-decoration: none;
    color: rgba(43, 43, 43, 1);
}

.comp9 .box10 .foot .inf{
    display: flex;
    align-items: center;
}

.inf i{
    margin-right: 10px;
}

.comp9 .box10 .foot3 .news{
    height: 70px;
    
}

.comp9 .box10 .foot3 .email{
    position: relative;
}

.comp9 .box10 .foot3 .email input{
    border: 0;
    width: 350px;
    height: 60px;
    border-radius: 30px;
    padding: 0 15px;
    box-shadow: 4px 10px 20px 0 rgba(0, 0, 0, 0.05);
}

.comp9 .box10 .foot3 .email .send{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(58, 12, 163, 1);
    color: white;
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 25px;
    padding: 13px;
}

@media screen and (max-width:1311px) {
    .comp7 .box8 .content14 .ax8 h3{
        font-size: 19.4px;
    }

    .comp7 .box8 .content14 .ax8 p{
        font-size: 13.3px;
    }

    .foot2{
        display: none;
    }
}


@media screen and (max-width:1139px) {
    .member{
        margin: 0 20px ;
    }

    .ceo{
        margin-bottom: 58px;
    }

    .member img{
        width: 180px;
        height: 250px;
    }

    .member h3{
        font-size: 16px;
    }

    .member h5{
        font-size: 13.3px;
    }
}


@media screen and (max-width:1100px) {
    .circle .box .box1 .content2{
        margin-left: 10%;
    }

    .header2 .list{
        display: none;
    }

    .header2 .mark{
        position: absolute;
        left: 5%;
    }

    .comp2 .box3 .content4 span, .comp2 .box3 .content4 .dones h4{
        font-size: 16px;
    }

    .comp3 .content6 .matn3 h2{
        margin-bottom: 15px;
    }

    .comp2 .box3 .content4 .matn2 h2, .comp3 .content6 .matn3 h2{
        font-size: 27.6px;
    }

    .comp2 .box3 .content4 .matn2 p, .dones p{
        font-size: 13.3px;
    }

    .comp2 .box3 .content4{
        width: 47%;
        
    }

    .comp2 .box3 .content5{
        width: 47%;
    }

    .comp2 .box3 .content5 .ax0 img{
        height: 360px;
    }

    .comp3 .box4 .content6 .links{
        margin-top: 35px;
    }

    .comp3 .box4 .content7 h3{
        font-size: 19.4px;
    }

    .comp3 .box4 .content7 h4{
        font-size: 16px;
    }

    .comp3 .box4 .content7 p, .comp3 .content6 .matn3 p{
        font-size: 13.3px;
    }

    .comp3 .content6 .matn3 span{
        font-size: 16px;
    }

    .comp8 .box9 .content15 .matn9 span{
        font-size: 16px;
    }
    .comp8 .box9 .content15 .matn9 h2{
        font-size: 27.6px;
    }

    .comp8 .box9 .content15 .matn9 p{
        font-size: 13.3px;
    }

    .comp8 .box9 .content15 .matn10 h4{
        font-size: 16px;
    }

    .comp8 .box9 .content16{
        height: 140px;
    }


    .comp8 .box9 .content16 img{
        height: 365px;
    }

    .comp8 .box9 .content16 .matn11 .become h2{
        font-size: 27.6px;
    }

    .comp8 .box9 .content16 .matn11 .become p{
        font-size: 13.3px;
    }

    .comp8 .box9 .content16 .matn11 .register{
        margin-left: 30px;
    }

    .foot1, .foot2, .foot3{
        margin: 0;
    }

}

@media screen and (max-width:900px){
    .circle .box1{
        width: 100%;
    }

    .comp3 .box4 .content7{
        flex-direction: column;
    }

    .comp3 .box4 .content7 .ax4{
        margin: 0;
    }

    .comp3 .box4 .content7 .ax3, .ax4, .ax5{
        margin-bottom: 25px;
        width: 85%;
    }

    .cc{
        display: flex;
    }

    .comp3 .box4 .content7 .ax5{
        margin-top: 25px;
    }

    .comp3 .box4 .content7 .more, .more2  {
        display: flex;
    }

    .comp3 .box4 .content7 .matn4, .matn5, .matn6{
        width: 100%;
    }

    .comp4 .box5 .content8{
        flex-direction: column;
    }

    .comp4 .box5 .matn7{
        line-height: 41px;
    }

    .comp4 .box5 .matn7 h2{
        font-size: 27.6px;
    }

    .comp4 .box5 .content8 .d{
        margin: 0;
        margin-bottom: 35px;
    }

    .comp5 .box6{
        align-items: start;
    }

    .comp5 .box6 .matn8{
        margin-left: 35px;
    }

    .comp5 .box6 .content9{
        flex-direction: column;
    }

    .second-hide{
        display: none;
    }

    .comp5 .box6 .content9 .ax7 .first-hide{
        display: flex;
    }

    .comp5 .box6 .content9 .ax6{
        width: 100%;
    }

    .comp5 .box6 .content9 .ax7{
        width: 90%;
    }

    .comp5 .box6 .content9 .ax7 img{
        width: 47.5%;
    }

    .comp5 .box6 .content10{
        width: 52%;
    }

    .big{
        width: 82%;
    }

    .comp6 .box7 .content11 span{
        font-size: 16px;
    }

    .comp6 .box7 .content11 h2{
        font-size: 27.6px;
    }

    .ceo{
        margin-bottom: 0;
    }

    .comp6 .box7 .content12{
        flex-direction: column;
    }

    .member{
        margin: 0 35px;
    }

    .team1{
        margin-bottom: 50px;
    }

    .comp7 .box8 .content14{
        flex-direction: column;
        margin-top: 40px;
        position: relative;
    }

    .comp7 .box8 .content14 .ax8{
        margin: 0 0 30px;
        width: 85%;
    }

    .more2{
    position: absolute;
    bottom: -90px;
    left: 30px;
    }

    .comp8 .box9 .content15,.comp8 .box9 .content16 .matn11{
        flex-direction: column;
    }

    .comp8 .box9 .content15 .matn9{
        width: 85%;
    }

    .comp8 .box9 .content15 .matn9 .arrows{
        display: none;
        margin-top: 0;
    }

    .comp8 .box9 .content15 .matn10{
        margin: 0;
        margin-top: 25px;
        width: 89%;
    }


    .comp8 .box9 .content16 img{
        width: 270px;
        height: 282px;
    }

    .comp8 .box9 .content16 .matn11{
        width: 88%;
    }

    .comp8 .box9 .content16 .matn11 .become{
        width: 99%;
    }

    .comp8 .box9 .content16 .matn11 .register{
        margin: 0;
        margin-top: 35px;
    }

    
    .comp8 .box9 .content16{
        height: 531px;
        align-items: start;
        padding-top: 100px;
        overflow: hidden;
        margin-top: 90px;
    }

    .comp8 .box9 .content16 img{
        left: auto;
        top: 230px;
        width: 539px;
        height: 385px;
    }

    .comp8 .box9 .content16 .matn11{
        align-items: start;
    }

    .foot1{
        display: none;
    }

}

@media screen and (max-width:768px) {
    .header1{
        display: none;
    }

    .header2{
        top: 0;
    }
    .circle .box{
        flex-direction: column;
    }
    .circle .box1{
        flex-direction: column;
    }

    .circle .box .box1 .content1{
        width: 83.667%;
        align-items: center;
    }

    .circle .box .box1 .content2{
        margin-left: 0;
        width: 88.667%;
    }

    .circle .box .content3{
        flex-direction: column;
    }

    .circle .box .content3 .two{
        margin: 30px 0 0 0;

    }

    .comp2 .box3{
        flex-direction: column;
    }

    .comp2 .box3 .content4{
        width: 80%;
        align-items: center;
    }

    .comp2 .box3 .content4 .matn2{
        width: 77%;
    }

    .comp2 .box3 .content5{
        margin: 70px 0 0 0;
        width: 80%;
    }

    .comp3 .box4{
        margin-top: 95px;
    }

    .comp3 .box4 .content6 {
        flex-direction: column;
        width: 98%;
    }

    .comp3 .box4 .content6 .links{
        margin-left: 0;
    }

    .comp3 .box4 .content6 .matn3{
        width: 84%;
    }

    .comp3 .box4 .content7{
        margin-top: 55px;
    }
    .comp4 .box5 .content8 .d{
        width: 84.61%;
    }

    .comp5 .box6{
        margin-top: 98px;
    }

    .box6 img{
        margin: 18px;
    }

    .comp5 .box6 .matn8 span{
        font-size: 16px;
    }

    .comp5 .box6 .matn8 h2{
        font-size: 27.6px;
    }
    
    .comp7 .box8 .content13 span{
        font-size: 16px;
    }

    .comp7 .box8 .content13 h2{
        font-size: 27.6px;
    }

    .comp9 .box10{
        flex-direction: column;
        height: 604px;
    }

    .news h4{
        font-size: 16px;
    }

    .comp9 .box10 .foot{
        height: 212px;
    }

    .foot, .foot3{
        align-items: center;
        text-align: center;
    }

    .comp9 .box10 .foot h5{
        color: rgba(128, 128, 128, 1);
        margin: 8px 0;
    }

    .follow i{
        margin: 0 17px;
    }
}

@media screen and (max-width:535px){
    .header2 .title4{
        display: none;
    }

    .header2 .bar{
        display: block;
        position: absolute;
        right: 5%;
    }

    .circle .box .box1 .content1 .matn span{
        font-size: 16px;
    }

    .circle .box .box1 .content1 .matn h1{
        font-size: 39.8px;
    }

    .circle .box .box1 .content1 .matn p{
        font-size: 13.3px;
    }

    .circle .box .box1 .content1 img{
        
        height: 210px;
    }

    .comp2 .box3 .content4{
        width: 98%;
    }

    .comp2 .box3 .content5{
        width: 85%;
    }

    .comp3 .box4 .content6 .links{
        width: 80%;
    }

    .comp3 .box4 .content7 img{
        height: 220px;
    }

    .box6 img, .comp5 .box6 .content9 .ax6 img, .comp5 .box6 .content9 .ax7 img{
        height: 245px;
    }

    .member img{
        width: 120px;
        height: 168px;
    }

    .member{
        margin: 0 20px;
    }
}

@media screen and (max-width:393px){
    .circle .box{
        align-items: center;
    }

    .circle .box .box1 .content1 img{
        width: 333px;
    }

    .circle .box .content3{
        width: 89%;
    }

    .circle .content3 .one, .content3 .two{
        width: 100%;
    }

    .comp2 .box3 .content4, .comp2 .box3 .content5{
        width: 85%;
        
    }

    .comp2 .box3 .content4 .matn2{
        align-items: start;
        width: 100%;
    }

    .comp2 .box3 .content4 .dones{
        align-items: center;
    }

    .comp2 .box3 .content4 .dones .dones1, .dones2{
        width: 333px;
        height: 117px;
    }

    .comp2 .box3 .content5{
        align-items: center;
        justify-content: center;
    }

    .comp2 .box3 .content5 .ax0 img{
        width: 170px;
        height: 260px;
    }

    .comp2 .box3 .content5 .ax .ax1 img{
        width: 143px;
        height: 141px;
    }

    .comp2 .box3 .content5 .ax .ax2 img{
        width: 143px;
        height: 100px;
    }

    .comp4 .box5 .matn7{
        width: 84%;
    }

    .comp4 .box5 .content8 .d{
        height: 239px;
    }

    .comp4 .box5 .content8 .d .d1{
        width: 60px;
        height: 60px;
        padding: 15px;
    }

    .comp4 .box5 .content8 .d .d1 i{
        font-size: 25px;
    }

    .comp4 .box5 .content8 .d h4{
        font-size: 16px;
    }

    .comp4 .box5 .content8 .d p{
        font-size: 13.3px;
    }

    .box6 img, .comp5 .box6 .content9 .ax6 img, .comp5 .box6 .content9 .ax7 img{
        width: 155px;
        height: 155px;
    }

    .box6 img{
        margin: 14px;
    }

    .comp8 .box9 .content16 img{
        top: 262px;
    }

    .comp9 .box10 .foot3 .email input{
        width: 300px;
    }

    .comp9 .box10 .foot{
        margin: 0;
    }

    .foot1, .foot2, .foot3{
        width: 300px;
    }
}

@media screen and (max-width:343px){
    .circle .box .box1 .content1 img{
        width: 290px;
    }

    .circle .box .box1 .content1 .matn h1{
        font-size: 30px;
    }

    .comp3 .box4 .content6 .matn3{
        width: 98%;
    }

    .comp2 .box3 .content4 .dones .dones1, .dones2{
        width: 135%;
    }

    .comp2 .box3 .content5 .ax0 img{
        width: 100%;
        height: 200px;
    }

    .comp2 .box3 .content5 .ax .ax1 img, .comp2 .box3 .content5 .ax .ax2 img{
        width: 100%;
    }

    .member h3{
        font-size: 13.3px;
    }

    .member h5{
        font-size: 9px;
    }
}